:root {
    font-family: 'Iosevka', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

    --col-light: #dad7cd;
    --col-light-green: #a3b18a;
    --col-med-green: #588157;
    --col-dark-green: #344e41;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: var(--col-dark-green);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--col-light);

    min-height: 100vh;
}

header {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: lightgrey;
    visibility: hidden;
}

form.open {
    visibility: visible;
}

button {
    border: none;
    outline: none;
    background: none;

    font-size: 1.5rem;

    background-color: var(--col-light-green);
}

.header-title {
    font-size: 3rem;
    font-weight: 600;
}